@{
    ViewBag.Title = "Howto";
}



<div class="bodytext">

    <hgroup class="title">
        <h1>How to Place an Order</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    <p>
        Firstly, you'll need an account. If you already have one, great! If not, don't worry, just @Html.ActionLink("click here", "Register", "Account") to make one.
    </p>
    <p>
        Got an account now? Great!
    </p>
    <p>
        Next you'll want to login. Once you're logged in, you'll see a bunch of cool stuff, but what we're interested in is the "Delivery" button. Click on it.
    </p>
    <p>
        Once you've done that, simply click on "New Order".
    </p>
    <p>
        Here you'll need to specify a few things, such as the Pick-Up Address, what type of delivery you want, and the specification of the package.
    </p>
    <p>
        Once you've filled in the order, simply click on "Create" and you're done!
    </p>
    <p>
        It's that easy with On The Spot!
    </p>
    <br /><br />
    <h2>Our Process Model - Representing Our Site Model</h2>
    <img src="~/Images/process.JPG" alt="Process Model" />

</div>
