@{
    ViewBag.Title = "HOMEPAGE";
}

<div id="main-content">

    
    <div class="motto">
        <h1>This is the motto box.. put something here...Delivering Your World!</h1>
        <br />
    </div>

    <div class="headlines">
        <h1>HEADLINES</h1>
        <ul type=square>
            <li>each of these li tags is for a new bullet point <br /></li>
            <li>NEWS 1 <br /></li>
            <li>NEWS 2 <br /></li>
            <li>NEWS 3 <br /></li>
            <li>NEWS 4 <br /></li>
            <li>CATS 5 <br /></li>
        </ul>
    </div>

    <div class="dnm">
        <h1>Our terrible deep and meaningful image so far. Please find something better!</h1>
        <img src="../../Images/homepageImage.jpg" alt="Deep and Meaningful Homepage Image" />
    </div>

</div>
