@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        After working as an employee of a large international courier and shipping service, 
        Bill Wiley decided to open his own courier delivery company called On the Spot. 
    </p>

    <p>
        On the Spot is a small but growing Australian company which provides quick and 
        reliable service to our numerous customers.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Delivery options include:</h3>
    
    <ul>
        <li>Regular delivery</li>
        <li>Express delivery</li>
        <li>Permanent</li>
        <li>Mail collections</li>
      </ul>
    

</aside>